body {
  background: repeating-conic-gradient(#0000 0.0003%, #000d 0.0005%),
    linear-gradient(rgb(0, 0, 40), transparent),
    linear-gradient(to top left, rgb(40, 0, 0), transparent),
    linear-gradient(to top right, rgb(0, 40, 0), transparent);
  background-blend-mode: overlay, screen, screen;
  background-attachment: fixed;
  & > main {
    min-height: 100vh;
    padding-bottom: 10vh;
    & > header {
      & > h1 {
        font-size: calc(48px + 5vh);
        font-family: serif;
        text-align: center;
        padding-top: calc(27.5vh - 24px);
      }
    }
    & > section {
      padding-left: 5vw;
      & > h2 {
        font-size: calc(24px + 2.5vh);
      }
      & > article {
        padding: 15px 0 0 0;
        width: fit-content;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: translateY(-5px);
          & > a {
            & > img {
              transform: scale(1.05);
            }
          }
        }
        & > a {
          size: 100%;
          & > img {
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
            width: 250px;
          }
          & > h3 {
            font-size: calc(12px + 1.25vh);
            text-decoration: none;
            position: absolute;
            text-shadow: 2px 2px #000000;
            bottom: 0;
          }
        }
      }
    }
  }
  & > footer {
    background-color: #343434;
    height: 100vh;
  }
}
